body {
  font-family: sans-serif;
  color: #707070;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #0079bf;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  width: 350px;
  height: fit-content;
  border-radius: 3px;
  padding: 15px;
  margin: 20px;
}

.column-header {
  margin: 5px 0;
  color: #000;
}

.card {
  background-color: white;
  border-radius: 3px;
  margin: 5px 0;
  padding: 15px;
  box-shadow: 0px 1px 2px #a3a3a3;
}

.card-marker {
  height: 8px;
  width: 50px;
  background-color: red;
  border-radius: 3px;

}

.btn-add {
  border: none;
  background-color: transparent;
  padding: 5px 0;
  text-align: left;
  font-size: 14px;
  color: #9c9c9d;
  outline: none;
  cursor: pointer;
  width: fit-content;
}