@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body {
	background-image: url('../img/rana-sawalha.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: -62px;
	font-family: 'Verdana', sans-serif;
}
header {
	background: rgba(0, 0, 0, 0.4);
}
.header-content {
	width: 89%;
	margin: 0 auto;
	padding: 3px 0;
	color: white;
	font-weight: 600;
}
.logo {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
}
.logo:hover {
	color: #3cb878;
	transition: 0.2s;
}
.logo-link:link, .logo-link:visited {
	color: white;
}
.header-icons {
	float: right;
	margin-right: 30px;
	width: 151px;
	height: 48px;
}
.sprite {
	margin-top: 14px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}
.icon-calendar {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-left: 14px;
	background-position: -14px -14px;
}
.icon-forum {
	display: inline-block;
	width: 28px;
	height: 20px;
	margin-left: 23px;
	background-position: -61px -14px;
}
.icon-journey {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background-position: -117px -14px;
}
.icon-calendar:hover, .icon-forum:hover, .icon-journey:hover, .sprite:hover .sprite {
	background-image: url("../img/spritesheet_green.png");
	transition: 0.2s;
}
.header-welcome {
	padding-top: 15px;
	float:right;
	color: white;
	font-size: 14px;
	font-weight: 400;
}
.header-welcome:before {
	float: left;
	content: "";
	width: 1px;
	height: 19px;
	margin-left: -24px;
	background-color: #312f2f;
}
.link-green:link, .link-green:visited {
	color: #3cb878;
	font-size: 14px;
}
.link-green:active {
	color: #356347;
}
.link-green:hover {
	border-bottom: 1px solid #3cb878;
}
.white {
	color: white;
}
.signup-container {
	width: 324px;
	height: 524px;
	margin-top: calc(50vh - 320px);
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 27px 60px;
	color: #434343;
	background-color: white;
	border-radius: 10px;
}
.green-square {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 29px;
	background-color: #3cb878;
}
.form-header {
	display: inline;
	font-size: 20px;
}
.form-header-link {
	float: right;
	padding-top: 5px;
}
.form-header-btn {
	float: left;
	position: relative;
	box-sizing: border-box;
	margin-top: 15px;
	width: 157px;
	height: 46px;
	border: none;
	border-radius: 3px;
	color: white;
	outline: none;
	cursor: pointer;
}
.btn-fb {
	clear: both;
	background-color: #305db8;
}
.btn-fb:hover {
	background-color: #264b96;
	transition: 0.3s;
}
.fb-logo {
	font-size: 20px;
	margin-right: 32px;
}
.fb-logo:after, .g-logo:after {
	content: "";
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	width: 1px;
	height: 28px;
	top: 9px;
	left: 47px;
	background-color: black;
	opacity: 0.1;
}
.btn-google {
	float: right;
	background-color: #df4a32;
}
.btn-google:hover {
	background-color: #c3412c;
	transition: 0.3s;
}
.g-logo {
	font-size: 20px;
	margin-left: -13px;
	margin-right: 34px;
}
.clearfix:before {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.separator {
	margin-top: 88px;
	font-size: 14px;
	color: #a5a5a5;
	text-align: center;
}
.separator:before {
	content: "";
	float: left;
	margin-top: 8px;
	width: 135px;
	height: 1px;
	background-color: #eaeaea;
}
.separator:after {
	content: "";
	float: right;
	margin-top: 8px;
	width: 135px;
	height: 1px;
	background-color: #eaeaea;
}
.form-element {
	box-sizing: border-box;
	width: 100%;
	padding: 14px;
	margin-bottom: 9px;
	position: relative;
	font-size: 14px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	outline: none;
}
.form-element::placeholder {
	opacity: 0.5;
}
.form-element:focus {
	border: none;
	top: -5px;
	box-shadow:	0 3px 5px 1px #e7e7e7 ;
}
.form-checkbox {
	display: inline-block;
	margin-top: 12px;
	cursor: pointer;
}
.checkbox-hidden {
	display: none;
}
.checkbox-text {
	margin-left: 10px;
	font-size: 14px;
}
.box {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	outline: none;
}
.checkbox-hidden:checked + .box {
	background-image: url("../img/checkbox.png");
	background-repeat: no-repeat;
	background-position-y: 5px;
	background-position-x: 3px;
}
.form-btn {
	width: 100%;
	margin-top: 24px;
	padding: 13px;
	background-color: #3cb878;
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 16px;
	outline: none;
	cursor: pointer;
}
.form-btn:hover {
	background-color: #329a65;
}