.menu-link {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 20px;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: #A7AAAB;
    text-decoration: none;
}

a:hover {
    color: #0AAEE4;
}