.filter-menu {
    padding: 3% 5% 2%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-left: 0;
    }

.view-mode {
    display: flex;
    width: 45px;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.filter-menu-link {
    line-height: 2;
    font-size: 14px;
    color: #0AAEE4;
}

.filter-menu-link:hover {
    color: #0AAEE4;
}

.menu-item {
    text-decoration: none;list-style: none;
    height: 2em;
}

.menu-item:hover {
    border-bottom: 2px solid #0AAEE4;
}

