@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body {
	background-image: url('../img/background.jpg');
	background-size: 100%;
}
.container {
	width: 1060px;
	margin: 0 auto;
	font-family: 'Verdana', 'sans-serif';
	color: white;

}
.logo {
	float: left;
  margin-top: 49px;
}
.logo:hover .logo-img {
	background-image: url("../img/logo_orange.png");
	background-repeat: no-repeat;
}
.logo:hover {
	color: #f26522;
}
.logo-img {
	float: left;
	width: 46px;
	height: 44px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}
.logo-header{
	float: left;
	margin-left: 15px;
	width: 105px;
	height: 44px;
	font-weight: 600;
}
.logo-text {
	vertical-align: top;
	line-height: 0.9;
	font-size: 1.8em;
}
.logo-text-bottom {
	font-size: 1.12em;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.contacts {
	float: right;
	margin-top: 55px;
	text-align: right;
	font-size: 18px;
}
.contacts-link {
	float: right;
}
.gallery {
	margin-top: -10px;
	float: left;
	text-align: center;
}
.card {
	float: left;
	width: 312px;
	margin-top: 54px;
	margin-right: 62px;
}
.card:nth-child(3n) {
	margin-right: 0;
}
.card-img {
	width: 312px;
	height: 204px;
	display: block;
	box-sizing: border-box;
	position: relative;
	background: linear-gradient(to bottom, white, black);
	padding: 2px;
}
.card-text {
	display: inline-block;
	margin-top: 20px;
	font-size: 18px;
}
.card:hover {
	color: #f26522;
}
.card:hover .card-details{
	display: block;
	transition: .5s;
}
.card-details {
	display: none;
	margin-top: -65px;
	width: 312px;
	height: 63px;
	position: absolute;
	background-color: #f26522;
	color: white;
}
.details-top {
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	font-size: 10px;
}
.details-left {
	float: left;
	margin-top: 10px;
	margin-left: -25px;
	font-size: 20px;
}
.details-left:before {
	content: "\20AC";
}
.details-right {
	float: right;
	margin-top: 16px;
	margin-right: 15px;
	font-size: 13px;
}
.details-right:after {
	content: "\00a0\00a0\232A";
}
.copyright {
	margin-top: 58px;
	text-align: center;
}
.copyright-text:before {
	content: "\00a9";
}
.copyright-text {
	font-size: 12px;
}
