.footer {
    width: 100%;
    height: 132px;
    margin: 0;
    padding: 2% 7%;
}

.footer-container {
    margin: 25px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}