.logo {
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.logo-link {
    color: inherit;
    text-decoration: none;
}

.logo-left {
    font-family: "HelveticaNeue-CondensedBlack";
}

.logo-right {
    font-weight: 200;
}