.categories {
    display: inline-flex;
    font-size: 12px;
    color: inherit;
    padding-left: 0;
    list-style: none;
}

.categories-item {
    cursor: pointer;
    margin-right: 10px;
}

.categories-item:hover {
    color: #0AAEE4;
}
