html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
}
.parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 50px;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #1d2124;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.logo-img-bg {
  width: 70px;
  height: 70px;
  background-color: #1a1d20;
  text-align: center;
}
.logo-img {
  margin-top: 22px;
}
.logo-text {
  margin: 0 6px;
  font-size: 1.4rem;
  color: white;
}
.nav-logo-link {
  display: block;
  height: 100%;
}
.main-menu {
  display: flex;
  align-items: center;
}
.main-menu-list {
  display: flex;
}
.main-menu-item {
  margin-right: 36px;
  font-size: 0.9rem;
  list-style: none;
}
.main-menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.search-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1d20;
  color: white;
}
.header-parallax {
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parallax-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.parallax-section::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-100px) scale(3);
  background: center/cover no-repeat;
}
.header-parallax::before {
  background-image: url("../img/header-bg.jpeg");
}
.header-text {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.subscribe-btn, .articles-btn {
  display: block;
  box-sizing: border-box;
  padding: 17px;
  margin: 10px;
  min-width: 170px;
  font-size: 1.1rem;
  color: white;
  border-radius: 5px;
  text-align: center;
  background-color: #89ca62;
}
.articles-btn {
  background-color: #14b9d5;
}
.most-popular {
  padding-top: 25px;
  height: 1005px;
  background-color: #f2f2f2;
}
.blue-header {
  margin: 35px;
  font-size: 1.7rem;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
}
.most-popular-posts {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.post-item {
  margin: 15px;
  background-color: white;
  text-align: center;
}
.post-item-link {
  display: block;
}
.post-title {
  color: #353a3d;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 3.6rem;
}
.clients-parallax {
  height: 590px;
  display: grid;
  grid-template-rows: 65px 110px 65px;
  align-content: center;
  align-items: start;
  justify-items: center;
}
.clients-parallax::before {
  background-image: url("../img/parallax-bg.jpeg");
}
.clients-title {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
.clients-separator {
  width: 60px;
  margin-top: 55px;
  border-bottom: 3px solid #169cb4;
}
.clients-brands {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  place-items: center;
}
.top-rated {
  height: 280px;
  background-color: white;
}
.rated-gallery {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1px;
  justify-content: center;
  overflow: hidden;
}
.hot-news {
  height: 1627px;
}
.news-container {
  width: 1148px;
  margin: -150px auto;
  display: grid;
  grid-template-columns: repeat(4, 257px);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
}
.news-1 {
  width: 840px;
  height: 260px;
  display: grid;
  grid-template-columns: 57% 43%;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: end;
}
.news-1-img {
  background-image: url("../img/news-1-img.png");
  background-repeat: no-repeat;
}
.news-1-caption {
  padding: 28px 25px;
  background-color: #f9f7f7;
  text-align: right;
  overflow: hidden;
}
.news-header {
  font-size: 1.1rem;
  line-height: 0.88rem;
  font-weight: 700;
}
.news-text {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.news-2 {
  height: 260px;
  align-self: end;
  justify-self: end;
  background-color: #f9f7f7;
}
.news-2-img {
  height: 210px;
  background-image: url("../img/news-2-img.png");
  background-repeat: no-repeat;
}
.news-caption-right {
  width: 277px;
  text-align: center;
}
.news-3 {
  height: 418px;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #f9f7f7;
}
.news-3-img {
  height: 260px;
  background-image: url("../img/news-3-img.png");
  background-repeat: no-repeat;
}
.news-center-caption {
  padding: 0 22px;
  text-align: right;
  overflow: hidden;
}
.news-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #f9f7f7;
}
.news-4-img {
  height: 260px;
  background-image: url("../img/news-4-img.png");
  background-repeat: no-repeat;
}
.news-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #f9f7f7;
}
.news-5-img {
  height: 260px;
  background-image: url("../img/news-5-img.png");
}
.news-6 {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #f9f7f7;
}
.news-6-img {
  height: 260px;
  background-image: url("../img/news-6-img.png");
  background-repeat: no-repeat;
}
.news-7 {
  height: 260px;
  justify-self: baseline;
  background-color: #f9f7f7;
}
.news-7-img {
  height: 210px;
  background-image: url("../img/news-7-img.png");
  background-repeat: no-repeat;
}
.news-8 {
  width: 840px;
  height: 260px;
  display: grid;
  grid-template-columns: 57% 43%;
  grid-column-start: 2;
  grid-column-end: 5;
  align-self: start;
  justify-self: end;
}
.news-8-img {
  background-image: url("../img/news-8-img.png");
  background-repeat: no-repeat;
}
.news-8-caption {
  padding: 28px 25px;
  background-color: #f9f7f7;
  text-align: right;
  overflow: hidden;
}
.footer-bg {
  background-color: #1d2124;
}
.footer-container {
  width: 1148px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
}
.copyright {
  font-size: 0.8rem;
  color: white;
}
.footer-logo {
  width: 105px;
  height: 24px;
  display: grid;
  grid-auto-flow: column;
  align-self: center;
  justify-self: end;
  justify-items: end;
  grid-gap: 3px;
}
.footer-logo1 {
  width: 35px;
  background-image: url(../img/footer-logo1.png);
  background-repeat: no-repeat;
}
.footer-logo2 {
  width: 64px;
  background-image: url(../img/footer-logo2.png);
  background-repeat: no-repeat;
}