.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 252px;
    margin: 40px 0;
    background-image: url("/MovieCollage@0.5X.png");
    background-color: rgba(0, 10, 0, 0.75);
    background-size: 130%;
    background-position: center;
    background-blend-mode: darken;
    color: white;
}

.banner-header {
    text-align: center;
    width: 40%;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 30px;

}