body {
  font-family: sans-serif;
  text-align: center;
  color: blue;
  background-color: azure;
}

.modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #888;
  box-shadow: 0 0 10px #2e3134;
  color: blue;
  text-align: center;
  border-radius: 5px;
}

.button {
  font-size: 16px;
  color: blue;
  padding: 5px 10px;
  min-width: 60px;
  background-color: deepskyblue;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: deepskyblue;
  background-color: blue;
}

.button:focus {
  outline: none;
}

.computer-score {
  font-size: 28px;
  color: red;
}

.user-score {
  font-size: 28px;
  color: green;
}

table {
  margin: 30px auto;
  table-layout: fixed;
  width: 35vw;
  border-spacing: 5px;
  border: 3px solid blue;
}

tr {
  height: 7vh;
}

.cell-grey {
  background-color: lightgrey;
}

.cell-blue {
  background-color: blue;
}

.cell-red {
  background-color: red;
}

.cell-green {
  background-color: green;
}


