.card {
  width: 220px;
  height: 300px;
  color: #0AAEE4;
  border: none;
}

.card-img-top {
  width: 220px;
  height: 223px;
  border: none;
  background-position: center;
  background-size: cover;
}

.card-description {
  padding: 8% 8% 0;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

.card-categories {
  margin-left: 8%;
}