.rating-index {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 1rem;
    border: 1px solid #0AAEE4;
    border-radius: 5px;
    color: inherit;
    font-size: 12px;
}