body {
  font-family: sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e3134;
  padding: 20px;
}

.btn-add {
  display: block;
  margin: 20px auto 0;
  border: none;
  font-size: 16px;
  color: dimgrey;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}

.btn-add:focus,
.btn-edit:focus,
.btn-del:focus {
  outline: none;
}

.card {
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
  padding: 15px 15px;
  border: 1px solid #ccd6dd;
}

.card:hover {
  background-color: #f6f9fb;
  transition: 0.2s;
}

.user-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: plum;
  box-shadow: 0 0 3px #2e3134;
}

.user-logo {
  margin: 0;
  font-weight: 600;
}

.user-email {
  color: #97a4ae;
}

.card-container {
  position: relative;
  width: 88%;
}

a {
  color: #2e3134;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}
.card-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.card-text {
  margin: 10px 0;
}

.icons {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.icon, .menu-arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.btn-edit, .btn-del {
  padding: 0;
  border: none;
  position: absolute;
  display: inline-block;
  left: 400px;
  background-color: transparent;
  height: 23px;
}

.btn-del {
  left: 435px;
}

.form-group {
  display: none;
  position: fixed;
  top: calc(100% / 2 - 150px);
  left: calc(100%/2 - 200px);
  background-color: white;
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0 0 10px #2e3134;
}

.form-control {
  margin: 15px 0;
}

.btn-primary {
  min-width: 70px;
  border-radius: 5px;
  margin: 10px 0;
}

.spinner-wrapper {
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  top: calc(100% / 2 - 40px);
  left: calc(100% / 2 - 40px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #2e3134;
  z-index: 20;
}

.spinner-wrapper.show,
.add-post-wrapper.show,
.edit-post-wrapper.show{
  display: block;
}

.lds-spinner {
  color: inherit;
  display: block;
  margin: 20px auto;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-spinner div {
  background-color: gray;
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 19px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: grey;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}