.header {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0 5% 3%;
    background: no-repeat top url("/junglebook copy 2@0.5X.png") rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
}

.header-bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: baseline;
}
