@import url(https://fonts.googleapis.com/css?family=News+Cycle:700);

body {
  font-family: "News Cycle", sans-serif;
  font-size: 16px;
  background-image: url("../img/star-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  position: absolute;
  width: 44%;
  height: 130rem;
  left: 28%;
  bottom: 0;
  overflow: hidden;
  transform-origin: 50% 80%;
  transform: perspective(200px) rotateX(30deg);
}
.titles {
  position: absolute;
  font-size: 215%;
  line-height: 1.2;
  color: #fe6;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  0% {
    top: 90%;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 30%;
  }
}
.header {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
}
.main-text-left {
  text-align: left;
}
.main-text-justify {
  text-align: justify;
}
