body {
  font-family: $primary-font;
}

.title {
  font-size: .88rem;
  font-weight: 700;
  line-height: 1.5;
  color: $primary-color;
  text-transform: uppercase;

  @include tablet {
    font-size: 1rem;
  }
}

