@mixin width-content {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin width-1200 {
  max-width: 1600px;
  padding-left: 10%;
  padding-right: 10%;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
}

@mixin flex-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-between-center {
  @include flex-between;
  align-items: center;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin mobile {
  @media (min-width: 480px) {
    @content
  }
}

@mixin tablet {
  @media (min-width: 769px) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content
  }
}
