.btn {
    color: white;
    background-color: #0AAEE4;
    padding: 10px 23px;
    font-size: 14px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

.btn-black {
    color: white;
    background-color: black;
    padding: 10px 23px;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-black:hover {
    color: #0AAEE4;
    border: 1px solid #0AAEE4;
}

.btn-transp {
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: none;
    border: none;
}

.btn-transp:hover {
    color: #0AAEE4;
}