.paginator {
    position: relative;
    left: 100%;
    margin-top: 150px;
}

.paginator-elem {
    width: 3px;
    height: 16px;
    margin: 10px 0;
    background-color: #A7AAAB;
    border-radius: 3px;
    cursor: pointer;
}

.paginator-elem:hover {
    background-color: #0AAEE4;
}