body {
    min-width: 320px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    background-color: #000;
}

.header {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    background-image: url("../img/logo.png");
    background-size: cover;
    width: 75px;
    height: 50px;
    margin-left: 12px;
}

.navbar-logo-link {
    height: 100%;
    display: block;
}

.navbar-button {
    display: flex;
    margin-right: 25px;
    justify-content: center;
    flex-direction: column;
}

.navbar-button-line {
    width: 25px;
    margin-bottom: 5px;
    border-bottom: 2px solid #F38A03;
}

.navbar-menu {
    display: none;
    list-style: none;
    position: absolute;
    padding: 0;
    right: 0;
    top: 40px;
    background-color: #000;
    z-index: 10;
    line-height: 2;
}

.navbar-button.open .navbar-button-line:nth-child(2) {
    display: none;
}

.navbar-button.open .navbar-button-line:first-child {
    position: relative;
    top: 7px;
    transform: rotate(45deg);
    transition: 0.3s;
}

.navbar-button.open .navbar-button-line:last-child {
    transform: rotate(-45deg);
    transition: 0.3s;
}

.navbar-menu-item {
    padding: 0 40px;
}

.navbar-menu-item:last-child {
    margin-right: 0;
}

.navbar-menu-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
}

.navbar-button.open + .navbar-menu {
    display: block;
}

.main-container {
    width: 100%
}

.main-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main-header-bg {
    position: relative;
    background-image: url("../img/background_small.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 455px;
}

.rectangle-red {
    width: 265px;
    height: 65px;
    background-color: #ED1260;
}   

.main-header-container {
    position: absolute;
    top: 45px;
    left: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-header {
    padding: 40px 30px;
    background-color: #000;
    font-size: 1.5rem;
    font-weight: 200;
}

.main-header-small {
    width: 30%;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #000;
    text-decoration: underline;
    text-align: center;
    font-weight: 200;
}

.service-title {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0 14%;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
}

.service-item {
    margin: 3% 3%;
    text-align: center;
    width: 44%;
}

.service-img {
    margin: 0 auto 5px;
    background-repeat: no-repeat;
    height: 65px;
    width: 70px;
}

.service-description {
    font-size: 0.9rem;
}

.map-container {
    width: 92%;
    margin: 40px auto 60px;
    padding: 10px 15px 0;
    border: 5px solid #ED1260;
    box-sizing: border-box;
    text-align: center;
}

.map-img {
    position: relative;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
}

.placeholder-red {
    position: absolute;
    right: 0;
    margin: 45px 130px 0 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/placeholder-red.png");
    background-repeat: no-repeat;
}

.map-description {
    display: block;
    font-size: 0.75rem;
    margin: 7px;
}

.footer {
    width: 100%;
    border: 5px solid #F38A03;
    box-sizing: border-box;
    padding: 20px 0 10px;
    background-color: #000;
    text-align: center;
}

.contacts-container {
    display: flex;
    margin-left: calc(100vw / 2 - 105px);
    flex-direction: column;
    align-items: flex-start;
}

.contacts-header {
    margin-top: 0;
    font-size: 1.5rem;
}

.contacts-description {
    display: none;
}

.contacts-item {
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.contacts-img {
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}

.contacts-text {
    margin-left: 25px;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.5;
}
