@media (min-width: 768px) {

  .navbar-logo {
    width: 90px;
    height: 60px;
    margin: 10px 0 10px 60px;
  }

  .navbar-menu {
    display: flex;
    margin-right: 2%;
    line-height: 1.15;
    top: 25px;
  }

  .navbar-menu-item:first-child {
    padding-left: 0;
  }

  #navbar-toggle-btn {
    display: none;
  }

  .main-container {
    width: 83%;
    margin-left: 12%;
  }

  .main-header-wrapper {
    flex-wrap: nowrap;
  }

  .main-header-bg {
    background-image: url("../img/background.png");
    height: 514px;
  }

  .main-header-container {
    top: 80px;
    left: 40px;
  }

  .rectangle-red {
    width: 65px;
    height: 265px;
  }

  .service-title {
    width: 90%;
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 0 3%;
  }

  .service-item {
    width: 27%;
  }

  .map-container {
    width: 580px;
    margin-top: 50px;
  }

  .map-img {
    height: 212px;
  }

  .placeholder-red {
    position: absolute;
    right: 0;
    margin: 80px 245px 0 0;
  }

  .footer {
    border: none;
    width: 83%;
    margin-left: 12%;
  }

  .contacts-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 0;
    align-items: baseline;
    justify-content: space-around;
  }

  .contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px 0;
  }

  .contacts-header {
    text-align: left;
    margin-left: 8%;
  }

  .contacts-img {
    margin-bottom: 15px;
  }

  .contacts-description {
    display: block;
    text-align: center;
  }

  .contacts-text {
    margin: 0;
  }

}
