@font-face {
	font-family: myriad-pro;
	src: url('../fonts/MyriadPro-Light.ttf');
}

body {
	font-family: myriad-pro, sans-serif;
}

.logo-top {
	width: 1280px;
	margin: 45px auto;
}

.logo-black {
	display: inline-block;
	margin: 0;
	font-size: 80px;
	color: black;
}

.logo-blue {
	display: inline-block;
	margin: 0;
	font-size: 80px;
	color: #4bcaff;
}

.navbar-top {
	width: 1280px;
	height: 69px;
	margin: 0 auto;
	background-color: #35444f;
}

.navbar-top-list {
	margin-left: -40px;
	text-align: center;
	list-style: none;
}

.navbar-top-item {
	display: inline-block;
	background-color: #35444f;
	border: 1px solid #35444f;
}

.navbar-top-item:hover {
	background-color: #222f3a;
	border: 1px solid white;
	transition: 0.2s;
}

.link-navbar-top {
	display: inline-block;
	margin: 0 40px;
	font-size: 24px;
	font-weight: bold;
	line-height: 2.8em;
	color: white;
	text-decoration: none;
}

.main-container {
	width: 1280px;
	margin: 50px auto;
}

.navbar-left {
	float: left;
	width: 28%;
	height: 400px;
	border: 1px solid black;
}

.navbar-left-list {
  margin-left: -40px;
  margin-top: 20px;
  text-align: left;
  list-style: none;
}

.navbar-left-item:hover {
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 30px;
	background-color: #dbdbdb;
	transition: 0.2s;
}

.link-navbar-left {
  display: block;
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
	line-height: 2.4em;
  color: #495863;
  text-decoration: none;
}

.link-navbar-left:hover {
	color: black;
}

.col-right {
	float: right;
	width: 68%;
}

.logo-main {
	height: 530px;
	border: 1px solid black;
}

.inner-img {
	position: relative;
	height: 530px;
}

.logo-img {
	display: block;
	position: absolute;
	width: 320px;
	height: 380px;
	margin: auto;
	top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.scale {
	transition: 0.5s;
}

.scale:hover {
	transform: scale(1.2);
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.text-main {
	width: 90%;
	margin: 50px auto 0;
	font-size: 18px;
}

footer {
	width: 1280px;
	height: 70px;
	margin: -20px auto 50px;
	background-color: #b4b7ba;
}

.navbar-footer {
	display: inline-block;
}

.navbar-footer-item {
	display: inline-block;
	margin: 5px 20px 0 0;
}

.link-navbar-footer {
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}	

.link-navbar-footer:hover {
	color: #3181a6;
	text-decoration: underline;
}	

.copyright {
	display: inline-block;
	margin-top: 25px;
	margin-right: 40px;
	float: right;
	font-size: 24px;
	font-weight: bold;
}