body {
  background-color: black;
  font-family: sans-serif;
  margin: 0;
}

.search-btn{
  margin: 50px auto 20px;
  display: block;
  background-color: black;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  color: green;
  box-shadow: 0 0 5px white;
  cursor: pointer;
}

.search-btn:focus {
  outline: none;
}

.search-btn:active {
  transform: scale(0.9);
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: green;
  font-size: 20px;
  padding: 20px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}
