.card {
  padding: 1rem;
  width: 500px;
  margin: 50px auto;
}

.input-field {
  display: block;
}

.action-text {
  margin: 10px 0;
}

.comments {
  height: 80px;
  resize: none;
  margin-bottom: 20px;
}

