html {
  font-family: Roboto;
  text-align: center;
}

.navbar {
  display: inline-block;
  width: 1280px;
  margin: 25px auto;
}

.color-link {
  margin: 0 35px;
  font-size: 24px;
  text-decoration: none;
}

.top-img {
  width: 1280px;
  margin: -5px auto;
}

h2 {
  font-size: 29px;
  margin-top: 0;
  padding-top: 60px;
}

.upper {
  text-transform: uppercase;
}

.content {
  width: 1280px;
  height: 650px;
  margin: 0 auto;
  background-image: url("../img/bottom-back.png");
  background-repeat: no-repeat;
}

.simple-text {
  font-size: 21px;
  line-height: 1.3em;
  margin: 0 110px;
}

button {
  height: 50px;
  width: 192px;
  border-radius: 2px;
  vertical-align: middle;
  font-size: 16px;
  color: #ffffff;
  background-color: #16a085;
}

footer {
  width: 1080px;
  margin: 25px auto;
}

.bottom-menu {
  font-size: 24px;
  text-align: left;
}

.black-link {
  color: #000000;
  text-decoration: none;
}

.green {
  color: #16a085;

}
.copyright {
  display: block;
  font-size: 21px;
  text-align: right;
}