.footer {
  @include width-content;
  @include flex-column;
  align-items: center;
  padding: 42px 35px 47px;
  background-color: #000;
  text-align: center;

  &-header {
    color: #fff;
  }

  &-text {
    width: 90%;
    margin-top: 8px;
    font-size: .75rem;
    line-height: 1.5;
    color: #b9b9b9;
  }

  &-icons {
    margin: 23px 0;

    &-img {
      margin: 0 3px;
    }
  }

  &-text-part:last-child {
    display: none;
  }

  &-contacts {
    @include flex-column;
    font-size: .88rem;
    line-height: 1.7;
    color: #b9b9b9;
  }

  @include tablet {
    padding: 56px 35px 47px;

    &-text {
      margin-top: 18px;
      font-size: 1rem;
      width: 95%;

      &-part:last-child {
        display: inline;
      }
    }

    &-icons {
      margin: 35px 0;
    }

    &-contacts {
      font-size: 1rem;
      flex-direction: row;
    }
  }

  @include desktop {
    @include width-1200;
    padding: 65px 35px 47px;

    &-text {
      width: 65%;
    }
  }
}