.header {
  @include width-content;
  padding: 25px;

  @include desktop {
    @include width-1200;
    padding-top: 120px;
  }
}

.navbar {
  @include flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  position: relative;

  &-button {
    @include flex-column;
    @include flex-center;
    align-items: center;
    width: 44px;
    height: 37px;
    background-color: #000;
  }

  &-button-line {
    width: 16px;
    margin-bottom: 2px;
    border-bottom: 2px solid #fff;
  }

  &-menu {
    display: none;
    list-style: none;
    position: absolute;
    width: 208px;
    padding: 0;
    right: -1px;
    top: 40px;
    background-color: #fff;
    z-index: 10;
    line-height: 2;
  }

  &-button.open .navbar-button-line:nth-child(2) {
    display: none;
  }

  &-button.open .navbar-button-line:first-child {
    position: relative;
    top: 2px;
    transform: rotate(45deg);
    transition: 0.3s;
  }

  &-button.open .navbar-button-line:last-child {
    position: relative;
    top: -2px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }

  &-menu-item {
    padding: 0 12px;
    border-bottom: 2px solid #f5f5f5;

    &:hover {
      background-color: #f5f5f5;
      transition: 0.3s;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-menu-link {
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $primary-color;
  }

  &-button.open + .navbar-menu {
    display: block;
  }

  @include tablet {
    margin: 0 auto;
    padding: 41px 0;
    &-button {
      display: none
    }

    &-menu {
      @include flex-between-center;
      margin: 0 auto;
      width: 80%;
      position: relative;
      top: 0;

      &-item {
        padding: 0;
        margin: 0;
        border: none;

        &:hover {
          background-color: #fff;
        }
      }

      &-link:hover {
        color: #57A4A4;
      }
    }
  }

  @include desktop {
    display: none;
  }
}

.header-bg {
  width: auto;
  height: 150px;
  background-image: url("../img/intro-img-320.png");
  background-size: cover;

  @include mobile {
    height: 250px;
    background-image: url("../img/intro-img-768.png");
  }

  @include tablet {
    height: 360px;
  }

  @include desktop {
    height: 550px;
    background-image: url("../img/intro-img-1200.png");
  }
}
