.instagram {
  @include width-content;
  margin-top: 30px;
  padding: 40px 25px;

  &-header-letter {
    display: none;
  }

  &-link {
    display: none;
  }

  &-gallery {
    width: 100%;
    margin-top: 12px;

    &-img {
      display: none;

      &:first-child {
        @include flex;
        background-size: cover;
        width: 300px;
        height: 300px;
      }
    }
  }

  @include tablet {
    margin-top: 50px;
    padding: 48px 25px;
    background-color: #f9f9f9;

    &-header {
      @include flex-between;

      &-letter {
        display: inline;
      }
    }

    &-link {
      display: block;
      font-size: .8rem;
      font-weight: 700;
      line-height: 2;
      color: #4E4E4E;
      text-decoration: none;
      text-transform: uppercase;
    }

    &-gallery {
      @include flex-between;
      flex-wrap: nowrap;
      margin-top: 33px;

      &-img {
        @include flex;
        background-size: cover;
        width: 250px;
        height: 250px;
        margin: 0 2px;

        &:first-child {
          width: 250px;
          height: 250px;
        }

        &:last-child {
          display: none
        }
      }
    }
  }

  @include desktop {
    @include width-1200;
    margin-top: 60px;

    &-gallery {
      max-width: 1200px;
      margin-top: 23px;

      &-img {
        width: 285px;
        height: 285px;

        &:first-child {
          width: 285px;
          height: 285px;
        }

        &:last-child {
          display: block;
          width: 285px;
          height: 285px;
        }
      }
    }
  }
}