.resent-posts {
  @include width-content;
  margin-top: 12px;
  padding: 0 25px;

  @include tablet {
    margin-top: 55px;
  }

  @include desktop {
    @include width-1200;
    margin-top: 62px;
  }
}

.post-list {
  @include flex-column;
  @include flex-between;
  line-height: 2;

  @include desktop {
    flex-direction: row;
  }
}

.post-img {
  width: 160px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    margin: 0;
  }
}

.post-item {
  @include flex-column;
  margin-top: 20px;
  margin-bottom: 5px;

  &:last-child {
    display: none;
  }

  @include tablet {
    margin-top: 23px;
    margin-bottom: 9px;
    flex-direction: row;

    &:last-child {
      @include flex;
    }
  }

  @include desktop {
    width: 50%;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      justify-content: flex-end;
    }

    &:last-child {
      order: 2;
      justify-content: flex-end;
    }
  }
}

.post-description-container {
  @include tablet {
    width: 55%;
    margin-left: 20px;
  }
}

.post-description {
  font-size: .88rem;
  font-weight: 700;
  color: $primary-color;
  text-decoration: none;

  @include tablet {
    font-size: 1rem;
    line-height: 2;
  }
}

.post-comments {
  color: #7C7C7C;
  font-size: 0.7rem;
  text-decoration: none;

  @include tablet {
    font-size: .75rem;
    line-height: 1.2;
  }
}

.post-text {
  display: none;

  @include tablet {
    display: block;
    font-size: .88rem;
    line-height: 1.5;
    color: #5c5c5c;
  }
}