body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}
.price {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 1.5rem;
}
#input-price {
    font-size: 1.5rem;
}
.price-info {
    visibility: hidden;
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 30px;
    color: gray;
}
.price-text {
    vertical-align: bottom;
}
.close-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    border-color: grey;
    color: grey;
    outline: none;
    cursor: pointer;
}

