@font-face {
	font-family: "Arimo";
	src: url("../fonts/Arimo-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Arimo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/Arimo-Regular.otf") format("opentype"), /* Open Type Font */
	url("../fonts/Arimo-Regular.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Arimo-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/Arimo-Regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Arimo-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Arimo";
	src: url("../fonts/Arimo-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Arimo-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/Arimo-Bold.otf") format("opentype"), /* Open Type Font */
	url("../fonts/Arimo-Bold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Arimo-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/Arimo-Bold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Arimo-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}
body {
	background-color: #3a4965;
	background-size: 100%;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #484848;
}
.pricing-table {
	border-collapse: collapse;
	margin: 25px auto;
	line-height: 1.5;
}
tr:last-child td {
	border-bottom: none;
}
td {
	width: 155px;
	border-bottom: 2px solid #d3d3d3;
}
td:nth-child(2n+3) {
	background-color: #f2f2f2;
}
td:nth-child(even) {
	background-color: #e3e3e3;
}
.table-header {
	font-weight: 700;
	height: 112px;
}
.cell-header {
	width: 198px;
	background-color: #fafafa;
	font-size: 14px;
	border-bottom: none;
}
.pricing-plan {
	font-size: 20px;
}
.icon {
	margin-bottom: 10px;
	font-size: 24px;
	color: #848484;
}
.cell-price {
	padding: 18px 0;
	font-size: 24px;
	font-weight: 700;
	color: white;
	border-bottom: none;
}
.dollars {
	vertical-align: middle;
	font-size: 36px;
	font-weight: 700;
}
.cents:after {
	content: "per month";
	margin-left: 7px;
	font-size: 14px;
	font-weight: 400;
	vertical-align: sub;
}
.cents {
	font-size: 18px;
	line-height: 2.4;
	vertical-align: top;
}
.light-green {
	background-color: #89c331;
}
.red {
	background-color: #f04a56;
}
.green {
	background-color: #20807c;
}
.buy-btn {
	outline: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	border: none;
	background-color: #484848;
	padding: 11px 33px;
	box-shadow: 0 6px 3px #343434;
}
.buy-btn:hover {
	position: relative;
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}
