@font-face {
	font-family: "Arimo";
	src: url("../fonts/Arimo-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Arimo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/Arimo-Regular.otf") format("opentype"), /* Open Type Font */
	url("../fonts/Arimo-Regular.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Arimo-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/Arimo-Regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Arimo-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Arimo";
	src: url("../fonts/Arimo-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Arimo-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/Arimo-Bold.otf") format("opentype"), /* Open Type Font */
	url("../fonts/Arimo-Bold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Arimo-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/Arimo-Bold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Arimo-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}
body {
	background-color: #3a4965;
	background-size: 100%;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #484848;
}
.pricing-table {
	border-collapse: collapse;
	margin: 25px auto;
}
td {
	position: relative;
	padding: 22px 50px;
	border-right: 2px solid #d3d3d3;
}
td:last-child{
	border-right: none;
}
tr:nth-child(2n+1) {
	background-color: #f2f2f2;
}
tr:nth-child(2n+4) {
	background-color: #e3e3e3;
}
.cell-header2, .cell-header3, .cell-header4 {
	width: 275px;
	height: 68px;
	background-color: #fafafa;
	font-size: 1.5em;
	font-weight: 700;
	color: white;
}
.light-green {
	 background-color: #89c331;
 }
.red {
	background-color: #f04a56;
}
.green {
	background-color: #20807c;
}
.cell-header1 {
	width: 308px;
	height: 154px;
	background-color: #fafafa;
	border-right: 2px solid #d3d3d3;
	font-size: 18px;
	font-weight: 700;
}
.pricing-plan {
	font-size: 30px;
}
.cell-header3 {
	font-size: 1.88em;
}
.icon {
	margin-right: 12px;
	vertical-align: sub;
	font-size: 24px;
	color: #848484;
}
.cell-price {
	position: relative;
	padding: 8px 33px;
	text-align: left;
	background-color: #fafafa;
}
.dollars {
	position: relative;
	vertical-align: middle;
	font-size: 60px;
	font-weight: 700;
}
.cents:after {
	content: "per month";
	position: absolute;
	top: 40px;
	left: 138px;
	font-size: 18px;
	font-weight: 400;
}
.cents {
	font-size: 24px;
	line-height: 1.8;
	vertical-align: top;
}
.cell-contact {
	 background-color: #ddd;
	 border-right: 2px solid #d3d3d3;
}
.cell-btn {
	background-color: #eee;
	padding: 30px 40px;
}
.contact-btn, .buy-btn {
	outline: none;
	border-radius: 5px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	border: none;
}
.contact-btn {
	background-color: #484848;
	padding: 15px 44px;
	box-shadow: 0 6px 3px #343434;
}
.buy-btn {
	padding: 15px 56px;
}
.sub-btn1 {
	box-shadow: 0 6px 3px #79b027;
}
.sub-btn2 {
	box-shadow: 0 6px 3px #df3a46;
}
.sub-btn3 {
	box-shadow: 0 6px 3px #16736f;
}
.contact-btn:hover, .buy-btn:hover {
	position: relative;
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}
